---
import LinkIcon from "../icons/Link.astro";

import Tags from "./Tags.astro";

interface Tag {
  name: string;
  icon: any;
}
interface Props {
  date: string;
  title: string;
  company: string;
  description: string;
  link?: string;
  tags: Tag[];
}

const { date, title, company, description, link, tags } = Astro.props;
---

<div data-aos="fade-up" data-aos-duration="1000">
  <div class="w-full flex flex-row justify-start md:gap-7 gap-2">
    <div class="w-fit flex flex-col">
      <div class="md:mt-7 mt-3 flex size-full flex-col items-center">
        <div class="flex aspect-square items-center justify-center p-3">
          <span
            class="inline-block size-2 rounded-full bg-orange-400/85 lg:size-3"
          ></span>
        </div>
        <div
          class="relative mt-8 h-full w-[4px] rounded-full bg-accent lg:w-[6px]"
        >
        </div>
      </div>
    </div>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href={link}
      class="w-full flex flex-col gap-3 p-4 md:p-8 rounded-xl lg:hover:bg-accent/30 lg:hover:drop-shadow-lg lg:hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:hover:cursor-pointer transition-all duration-300 group"
    >
      <h3
        class="text-lg md:text-xl text-pretty font-bold text-white/90 lg:group-hover:text-orange-400/90 mb-2 transition duration-300"
      >
        <span>{title} · {company}</span>
        <LinkIcon
          class="inline-block size-4 lg:group-hover:translate-x-1 lg:group-hover:-translate-y-1 transition-transform duration-300"
        />
      </h3>

      <h4 class="mb-6 text-pretty text-base font-medium text-white/50">
        {date}
      </h4>

      <p
        class="mb-4 text-base text-white/75 text-pretty leading-7"
        set:html={description}
      />

      <div class="w-full flex flex-wrap gap-2">
        {
          tags.map((tag) => {
            const TagIcon = tag.icon;
            return (
              <Tags>
                <TagIcon class="size-4" />
                {tag.name}
              </Tags>
            );
          })
        }
      </div>
    </a>
  </div>
</div>
